# ============================================================
#  Copy this file to .env and fill in your real values.
#  NEVER commit .env to Git — it's in .gitignore.
# ============================================================

# --- MongoDB Atlas ---


# --- Hive Metastore DB ---
HIVE_METASTORE_DB_PASSWORD=hive_password

# --- Airbyte DB ---
AIRBYTE_DB_PASSWORD=airbyte_password

# --- Spark ---
SPARK_WORKER_MEMORY=2g
SPARK_WORKER_CORES=2
